#grid{
  /*height: 90vh;*/
  /*the entire place where the connect four image is*/
}
.boardCol{
  /*Each col on the image*/
  position: absolute;
  height: 478.578px;
  width: 91.4285px;
  top: 0;
}
.side{
  /*The side of the entire page*/
  /*height: 90vh;*/
}
/*Each of these colums below are absolutely postioned to be laid on top of the image*/
/*They are also children of .boardCol*/
#col-2{
  left: 110px;
}
#col-3{
  left: 200px;
}
#col-4{
  left: 290px;
}
#col-5{
  left: 380px;
}
#col-6{
  left: 470px;
}
#col-7{
  left: 560px;
}
.slot{
  /*This is the hole where the tokens will go*/
  height: 79.7605px;
  width: 90px;
  border-radius: 1000px;
  position: relative;
}
